body {
    background-color:beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

button {
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}


.junoimg {
    max-width: 50%;
    border: 3.5px solid;
    border-radius: 24px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.section {
    background-color: #e8e8e8;
    border: 5px solid;
    border-radius: 24px;
    padding: 1em;
    max-width: 30vw;    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

#content .section:nth-of-type(2) {
    gap: 0.90em;
}
#content .section:nth-of-type(2) > span {
    text-align: center;
}

#content .section:nth-of-type(2),
#content .section:nth-of-type(3) {
    min-width: 20vw;
}

.section > span {
    font-size: 18px;
}

#content .section:nth-of-type(3) > span {
    margin: 4px 0px;
}